안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [1]:
# 2부터 시작해 2씩 증가하는 숫자를 5개 지니는 리스트

# 시작, 증가 값
x = 2
n = 0

nums = list()
print(type(nums))

for i in range(x,100,x):
    nums.append(i)
    n += 1
    if n >= 5:
        break

print(nums)

<class 'list'>
[2, 4, 6, 8, 10]

In [3]:
# 문제 잘못 이해해서 만듬

# 시작, 증가 값
x = 2
# 종료값
end = 10

# 리스트 개수
n = 5

nlist = list()

# xlist = list()
# 여기에 xlist를 추가할 경우
# 리스트가 순서대로 증가하지 않고 처음 부터 마지막 증가 값을 가지고 있음.
# 구조 nlist = [xlist,xlist,xlist] 결과는 동일한 xlist값

# 숫자의 경우 다름

for i in range(n):

    xlist = list()

    for j in range(x,end,x):
        # print(j)
        xlist.append(j)

    nlist.append(xlist)

# print(xlist)
print(nlist)

[[2, 4, 6, 8], [2, 4, 6, 8], [2, 4, 6, 8], [2, 4, 6, 8], [2, 4, 6, 8]]

In [2]:
# 숫자로 test

# 시작, 증가 값
x = 2
# 종료값
end = 10

# 리스트 개수
n = 3

nlist = list()

sum = 0

for i in range(n):

    xlist = list()

    for j in range(x,end,x):
        sum += j

    nlist.append(sum)

# print(xlist)
print(nlist)

[20, 40, 60]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [6]:
phone_number = "01012347890"

count = 0

changed_phone_number = ''

for i in phone_number:
    # print(type(i))
    count += 1

    if count > 7:
        changed_phone_number += '*'
        continue

    changed_phone_number += i

print(changed_phone_number)

0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [53]:
nums = {'zero':'0', 'one':'1', 'two':'2', 'three':'3', 'four':'4', 'five':'5', 'six':'6', 'seven':'7', 'eight':'8', 'nine':'9'}

s = "77three4one"
for i in nums:
    # print(i)
    s = s.replace(i,nums[i])
print(s)

s = "nine77three4onethreefoursix555"
for i in nums:
    # print(i)
    s = s.replace(i,nums[i])
print(s)

# 사용 가능
# 문자형 숫자로 구분분
# char.isdigit()  #문자형 숫자인지
# '0' <= char <= '9'  #실제로는 ASCII코드로 비교
# 48 <= ord(char) <= 57  #ASCII코드로 비교
# re.match(r'[0-9]', char)  #정규식 이용

77341
977341346555

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [4]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
# result = [[4,6],[7,9]]

result = list()

for i in range(len(arr1)):
    # print(arr1[i])
    temp = list()

    for j in range(len(arr1[0])):
        # print(arr1[i][j])
        temp.append(arr1[i][j] + arr2[i][j])

    result.append(temp)

print(result)

[[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [23]:
x = 17

for j in range(10,20):
    print("---------------------")
    x = j
    print("x:",x)

    sum = 0
    for i in str(x):
        # print(i)
        sum += int(i)
    print("sum:",sum)
    # print(type(sum))
    # print(type(x))

    Harshad_number = False
    if x % sum == 0:
        Harshad_number = True

    print(f"x는 하샤드 수{'입니다' if Harshad_number else '가 아닙니다!'}")

---------------------
x: 10
sum: 1
x는 하샤드 수입니다
---------------------
x: 11
sum: 2
x는 하샤드 수가 아닙니다!
---------------------
x: 12
sum: 3
x는 하샤드 수입니다
---------------------
x: 13
sum: 4
x는 하샤드 수가 아닙니다!
---------------------
x: 14
sum: 5
x는 하샤드 수가 아닙니다!
---------------------
x: 15
sum: 6
x는 하샤드 수가 아닙니다!
---------------------
x: 16
sum: 7
x는 하샤드 수가 아닙니다!
---------------------
x: 17
sum: 8
x는 하샤드 수가 아닙니다!
---------------------
x: 18
sum: 9
x는 하샤드 수입니다
---------------------
x: 19
sum: 10
x는 하샤드 수가 아닙니다!

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [28]:
seoul = ["Jane","Kim"]

print(f"김서방은 {seoul.index('Kim')}에 있다!!")

김서방은 1에 있다!!

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [33]:
numbers = [5,8,1,0,6,9]

sum = 0

for i in range(10):
    if not i in numbers:
        print("numbers에서 찾을 수 없는 숫자",i)
        sum += i

print("합:",sum)

numbers에서 찾을 수 없는 숫자 2
numbers에서 찾을 수 없는 숫자 3
numbers에서 찾을 수 없는 숫자 4
numbers에서 찾을 수 없는 숫자 7
합: 16